## Dictionary
- 영어사전
    - 중괄호 사용 {}, 콤마로 구분
    - 타입: dict    
    - 형태:
        - 단어 : 뜻
        - 키(key) : 값(value)
    - "키로 값을 찾는다."
        - 키는 중복되지 않는 고유한 값
    - 순서가 없다. => 인덱싱, 슬라이싱 불가능
    - 가변: 수정, 삭제, 추가 가능
    - 형변환: 'dict()'
    - 값에 다양한 자료구조가 올 수 있음
        - {a: 1}
        - {a: [1,2,3,4]}

In [1]:
# 리스트

a = [1, 2, 3]
a[0]

1

In [1]:
# 빈 딕셔너리 생성하는 법
empty = dict()
empty = {}

# set {}
empty = {}  # type = dict, set 아님
empty = set()  # set은 이렇게 선언해야됨
type(empty)

set

In [2]:
# 딕셔너리 선언 방법1
a = {1:'apple', 2:'banana', 3:'kiwi'} # dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [5]:
# 딕셔너리 선언 방법2
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

#### ex) 출석부로 딕셔너리 만들기
- 이름, 학번, 학과
- james 202201 경제학과
- laura 202203 스페인어과
- louis 202202 컴공과

In [14]:
attendance = {202201:['james', '경제학과'], 202203:['laura', '스페인어과'], 202202:['louis', '컴공과']}
attendance   
# 키를 중복되지 않은 값으로 설정하는게 좋음
# 이름을 키로 설정하게 되면, 동명이인 있을 경우 하나의 키에 여러 값이 할당됨

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

### 형 변환

In [15]:
ex1 = [[1,2], [2,3], [3,4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [16]:
# 중복된 키('1')가 있을 경우
ex2 = [(1,2), (2,3), (1,3)]
dict(ex2)

{1: 3, 2: 3}

In [18]:
# 두 자리 까지는 형변환 가능, 세자리부터는 불가능
ex3 = ['ab', 'bc', 'cd']   
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경

In [27]:
pythons = { # 성: 이름
    'Chapman':'Graham',
    'Cleese':'John',
    'Idle':'Eric',
    'Jones':'Terry',
    'Paline':'Michael',
}

In [5]:
# 찾기
pythons['Idle']

'Eric'

In [6]:
# 추가(기존에 없던 키)
pythons['Hwa'] = 'Chloe'

In [7]:
# 변경(기존에 존재하던 키)
pythons['Idle'] = 'James'  
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Paline': 'Michael',
 'Hwa': 'Chloe'}

In [8]:
# 예외 발생하지 않도록 dict 내 존재 유무 확인
'Hwa' in pythons

True

In [10]:
# get()
pythons.get('Jones')
pythons.get('Lee',0) # 없는 키는 0 반환하도록 설정

0

### 전체 조회
- keys()
- values()
- items()

In [11]:
# 키 모음
pythons.keys()  
# 리스트 형태가 메모리를 적게 먹음
# list(pythons.keys())

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Paline', 'Hwa'])

In [34]:
# 값 모음
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [12]:
# (키,값) 튜플 형태로 => 순회할 때 많이 씀
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Paline', 'Michael'), ('Hwa', 'Chloe')])

In [38]:
for k,v in pythons.items():
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Paline = Michael
Hwa = Chloe

In [15]:
# list comprehension
[(k,v) for k, v in pythons.items()]
[k for k in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Paline', 'Michael'),
 ('Hwa', 'Chloe')]

In [41]:
[k[1] for k in pythons.items()]  
# 튜플이므로, 인덱싱 가능
# 인덱스 0 = key, 1 = value

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

### ex)
animal: num_leg 딕셔너리를 만드시오

In [16]:
# 방법 1)
animal = 'cat snake monkey ant spider'.split()
legs = 4,0,2,4,8
animal_dict = {}

for k,v in zip(animal, legs):
    animal_dict[k] = v  # 빈 딕셔너리에 추가

animal_dict

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [57]:
# 방법 2)
num_leg = {}
for i in range(len(animal)):
    num_leg[animal[i]] = legs[i]
num_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

### Q. pythons 에서 성: 이름, 성 첫 글자만, 이름은 글자 개수로 이뤄진 튜플(성, 이름) 리스트로 반환하기

In [17]:
pythons = { # 성: 이름
    'Chapman':'Graham',
    'Cleese':'John',
    'Idle':'Eric',
    'Jones':'Terry',
    'Paline':'Michael',
}

dict1 = {}
for k,v in pythons.items():
    dict1[k[0]] = len(v)
list(dict1.items())

# [(k[0],len(v)) for k,v in pythons.items()]  
# [k[0][0], len(k[1]) for k in pythons.items()] 모범 답안

[('C', 4), ('I', 4), ('J', 5), ('P', 7)]

### 값 수정, 삭제, 복제, 비교
- 추가
    - update(dict)
- 삭제
    - pop(key)
    - del dict[key]
- 전체 삭제
    - clear(dict)

In [28]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Paline': 'Michael'}

In [29]:
others = {
    'Marx':'Groucho',
    'Howard':'Moe'
    }

others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [30]:
pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Paline': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [31]:
# py 3 에만 있는 기능
{**others, **pythons}  # 앞에 붙이기

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Paline': 'Michael'}

In [22]:
# del 삭제(없는 키 삭제하면 에러 뜸)
del pythons['Hwa']
pythons

KeyError: 'Hwa'

In [34]:
# pop 삭제
pythons.pop('Lee', 0)  # 없으면 예외는 나지만, 예외 시 출력값을 지정할 수 있다.

0

In [32]:
del pythons['Marx']
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Paline': 'Michael',
 'Howard': 'Moe'}

In [33]:
pythons.pop('Chapman')
pythons

{'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Paline': 'Michael',
 'Howard': 'Moe'}

In [35]:
# 전체 삭제
pythons.clear()
pythons = {}
pythons

{}

### 복제
- 할당
- 얕은 복사
    - c = a.copy()
- 깊은 복사
    - deepcopy

In [45]:
# 할당
a = {1:1, 2:2, 3:3}
b = a
a[1] = 33
a,b   # 같은 주소를 참조하고 있기 때문에 b도 바뀜

({1: 33, 2: 2, 3: 3}, {1: 33, 2: 2, 3: 3})

In [46]:
id(a), id(b)  # 같은 메모리 주소

(2319260592640, 2319260592640)

In [47]:
# 얕은 복사
c = a.copy()
a[2] = 27
a,c

({1: 33, 2: 27, 3: 3}, {1: 33, 2: 2, 3: 3})

In [48]:
id(a), id(c)  # 다른 메모리 주소

(2319260592640, 2319260599808)

In [49]:
a = {1:[1,2,3], 2:[2,3,4]}
d = a.copy()
a[1][0] = 100
a,d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [50]:
id(a), id(d)  # 다른 메모리 주소

(2319259772800, 2319259757312)

In [51]:
# 깊은 복사
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [53]:
id(a), id(e)  # 다른 메모리 주소

(2319259772800, 2319260585664)

### 비교
- 같다, 다르다 만 된다.

In [89]:
a != b

True

### Ex)
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    del dict1['태양'] X
4. sorted 이용해서 값 정렬하기 i) key, ii) value

In [55]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [58]:
solar_sys = {}
for k,v in zip(solar_kor, solar_eng):
    solar_sys[k] = v
solar_sys['명왕성']='pluto'

for i in list(solar_sys.keys()):
    if i[-1] != '성':
        solar_sys.pop(i)
# dict([(k, solar_sys[k]) for k in solar_sys if k.endswith('성')])
solar_sys

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

### 컴프리헨션

In [60]:
name = 'yeonghoo'
# a: 1, p:2, ... 
{ch: letter.count(ch) for ch in name}

{'y': 1, 'e': 1, 'o': 3, 'n': 1, 'g': 1, 'h': 1}

In [64]:
# 단어의 모음세기
vowels = 'aeiou'
word = 'encyclopedia'

# word 순회
# vowels 순회
{vowel: word.count(vowel) for vowel in vowels if vowel in word}

{'a': 1, 'e': 2, 'i': 1, 'o': 1}

### sorting

In [65]:
def fx(x):
    return x[0]

In [66]:
sorted(solar_sys.items(), key=fx) # key 기준으로 sorting

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [67]:
def fx(x):
    return x[1]

In [68]:
sorted(solar_sys.items(), key=fx)  # value 기준으로 sorting

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [69]:
sorted(solar_sys.items(), key=lambda x: x[0])  # lambda: 익명함수

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

### Set
- "중복이 없다."
- 집합과 동일한 개념
    - 교집합, 합집합, 차집합,...
- bag (순서도, 중복도 X)
    - indexing도 없다

In [134]:
empty = set()
empty

set()

In [70]:
a = {1,2,3} 
a

{1, 2, 3}

In [71]:
a = set((1,2,3))  # 선언, 형 변환
a

{1, 2, 3}

In [72]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [73]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [74]:
drinks = {
    'martini':{'vodka','vermouth'},
    'black russian':{'vodka','kahlua'},
    'white russian':{'cream','kahlua','vodka'},
    'manhattan':{'rye','vermouth','bitters'},
    'screwdriver':{'orange juice', 'vodka'}
}
for k,v in drinks.items():
    if 'vodka' in v:
        print(k)
print()
for k,v in drinks.items():
    if ('vodka' in v) and ('cream' not in v) and ('vermouth' not in v):
        print(k)
# vodka가 포함된 술 출력하기
# vodka는 있지만, cream, vermouth가 없는 술 출력하기

martini
black russian
white russian
screwdriver

black russian
screwdriver

### 집합의 연산

- a = {1,2,3}
- b = {2,3,4}

#### 교집합 | intersection
- a.intersection(b)
- a&b

#### 합집합 | union
- a | b

#### 차집합 | difference
- a.difference(b)
- a - b, b - a

In [75]:
# set을 활용해서 바꾸기
for k,v in drinks.items():
    if {'vodka'} & v and not v & {'cream', 'vermouth'}:
    # if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

black russian
screwdriver

In [76]:
# set comprehension
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [77]:
# frozenset
set([1,2])
frozenset([1,2])

frozenset({1, 2})