# Week_02

## Ch02. Variables 
- string
- float
- integer
- boolean

In [15]:
# 여러 이름 동시에 할당
two = deux = dos = 2  # dos -> deux -> two 순으로 할당됨
two

2

In [17]:
# 불변객체이므로 (불변객체: 생성 후 그 상태를 바꿀 수 없는 객체)
two = 4
print(two, deux)  # deux의 값은 변하지 않음

4 2

In [19]:
id(two), id(deux)   # 메모리의 위치를 확인하는 함수, 당장 크게 중요하진 않음

(1539301927312, 1539301927248)

In [20]:
p = [1, 2, 3]
q = p  # p와 같은 값이 q에 담긴다
p, q

([1, 2, 3], [1, 2, 3])

In [22]:
id(p), id(q)  # 변수가 저장된 메모리 주소 찾는 함수
# 위치가 같음

(1539401503808, 1539401503808)

In [24]:
p[0] = 9
p, q   # p = q이기 때문에 q의 0번 인덱스도 9로 바뀜

([9, 2, 3], [9, 2, 3])

In [25]:
id(p), id(q) # 여전히 같은 메모리에 위치

(1539401503808, 1539401503808)

### 좋은 변수명
- 간결하고 명확한 이름
- 의미가 담겨야 함.
- a, b, c .... 등은 지양
- 코드에는 의미가 담기고 주석에는 의도가 담긴다.
    - 예: the number of students
        n < the_number_of_students < num_students
        - 카멜 표기법: numStudents

### 자료형 변환, 형 변환
-str(<변환할 값>), int(), float(), bool()

In [1]:
a=10

# str: 문자형
str(a)

# int: 정수형
int(a)

# float: 실수형
float(a)

# bool: 논리형
bool(a)  # 어떤 값이 False로 변환이 되는지: 0, 공백

True

#### 주의할 점 1: float -> int

In [4]:
x = 10.7 # 소수점 내림
int(x)

10

In [5]:
y = 19.8
print(int(x + y))  # 30.5 --> 30
print(int(x) + int(y))  # 10 + 19

30
29

#### 주의할 점 2: str -> int / float

In [6]:
i = '10' # 문자형 10
int(i), float(i)

(10, 10.0)

In [7]:
j = '10.7' # int와 맞지 않는 str을 변환하려고 하면 오류가 난다.
int(j)

ValueError: invalid literal for int() with base 10: '10.7'

### 꿀팁 'print()'

In [8]:
dog = 'dog'
cat = 'cat'
lion = 'lion'
print(dog + cat + lion)  # 단순 이어붙이기/ space 없음, \n
print(dog, cat, lion)  # space 있음, \n
# 역슬래시 대신 '\'도 가능

dogcatlion
dog cat lion

In [26]:
print(dog, cat, lion, sep=' ', end='\n')  # default
print(dog, cat, lion, sep='/', end='\n\n')
print('EOL')

dog cat lion
dog/cat/lion

EOL

In [12]:
#1.
print("My favorite animal is", dog)

#2.
print(f'My favorite animal is {dog}.')  # f-strings

My favorite animal is dog
My favorite animal is dog.

코드 줄이 짧을 때 ;(semicolon)을 이용해 한줄로 쓸 수 있다.

In [2]:
dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog, cat, lion)

dog cat lion

### 'input()' 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력받는 값은 문자열(str)로 인식이 된다.
- 입력받은 값을 변수에 담아서 사용한다. 안 그러면 사라짐
- 숫자일 경우 형 변환 한다.

In [1]:
input('Hello? ')

Hello? Hi

'Hi'

In [2]:
int(input('나이가 어떻게 되나요?'))  # int()로 정수형 변환

나이가 어떻게 되나요?23

23

#### - 변수에 할당하는 방법

In [4]:
#1.
age = int(input('나이가 어떻게 되나요? '))

나이가 어떻게 되나요? 23

In [5]:
age # 정수형 23

23

In [7]:
#2.
print('나이가??')
age = input()

나이가??
23

In [8]:
age # 문자형 '23'

'23'

#### Quiz 1
- 섭씨를 입력 받아서 화씨로 변환하기
- "섭씨 * 1.8 + 32 = 화씨"

In [11]:
Celcius = float(input('섭씨 온도를 입력하시오>>> '))
Fahren = Celcius * 1.8 + 32
print(f'화씨 온도는 {Fahren}도 입니다')

섭씨 온도를 입력하시오>>> 10
화씨 온도는 50.0도 입니다

#### Quiz 2
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값:
    - 수취인 성명: <이름>
    - 수취인 주소: <주소>
    - 배송비: 3000원
    - 물건 비용: <가격>원
    - 총 합계: <가격>원
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용

In [13]:
name = input('수취인 성명>>> ')
address = input('수취인 주소>>> ')
weight = float(input('물건 무게(g)>>> '))
price = weight * 5
total = 3000 + price
print()
print('===== 택배 정보 =====')
print(f'''수취인 성명: {name}
수취인 주소:{address}
배송비: 3000원
물건 비용: {price}원
총 합계: {total}원''')

### 코드 짤 때 보기 편하게 코드 블럭 나누기(변수, 출력, 입력..)

수취인 성명>>> 권영후
수취인 주소>>> 이문동
물건 무게(g)>>> 200.5

===== 택배 정보 =====
수취인 성명: 권영후
수취인 주소:이문동
배송비: 3000원
물건 비용: 1002.5원
총 합계: 4002.5원

## Ch03. Numbers

#### boolean(논리형)
- 형 변환할 때 어떤게 True, False인지 기억하라
    - False 인 경우: ' ', None, 0, ...
    - True 인 경우: 나머지 숫자, 1, ...
- 조건식에서 많이 쓴다. ex) 만약 이 조건이 True라면,...

In [14]:
bool(1)

True

In [15]:
bool('') # 빈 칸

False

#### integer (정수형)
- 소수점 없음
- default 양수, 음수는 앞에 -를 붙인다.
- 숫자 앞에는 0을 붙일 수 없다. ex) 05
    - 예외적으로 0bxxx => 다른 진수 표현법
- 리터럴: 4
- 숫자는 중간에 공백이 많아도 무시가 된다.
- 10,000원 -> 10, 000원 두개로 인식 => _ 사용
    - ex) 10_000

In [16]:
a = -9
8 + a

-1

In [17]:
a = 09 # 에러 발생

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_14924/969348553.py, line 1)

In [18]:
-9 + 8          -5   # 공백이 많아도 무시 가능

-6

In [20]:
a = 10_000  # 천 단위로 끊고 싶을 때 ',' 대신 '_' 사용
print(a)

10000

#### 연산
- 연산자|operator: +,-
- 피연산사|operand: 4, 5, ...
- 수식|expression

In [22]:
x = 4
y = 9

x + y
x - y
x * y
x / y

# 거듭제곱|exponential
x ** y

262144

#### 나눗셈에서 주의할 사항

In [23]:
#1. 0 으로 나누기 불가 => 주의 (y != 0)
#2. 몫, 나머지
x//y, x%y

(0, 4)

In [24]:
divmod(x,y)  # 몫과 나머지를 튜플 형식으로 출력하는 함수

(0, 4)

#### 복합 대입연산자|compound assignment operator

In [25]:
a = 5
a - 3  # 불변객체이므로 a의 값에는 영향 X
print(a)

5

In [26]:
a = a - 3
#1. a-3 계산
#2. 임시변수 temp = a - 3
#3. a = a - 3

a -= 3  # 복합대입연산자
a += 3
a *= 3
a /= 3
# exponential(거듭제곱)도 가능

In [27]:
u = ?  # 초기값 설정 후에 복합대입연산자 사용 가능
u = u + 1  ## 초기값 없으므로 에러

SyntaxError: invalid syntax (Temp/ipykernel_14924/4108442382.py, line 1)

### Quiz1.
- 정수를 입력 받고 3의 배수인지 확인하시오.
- = 홀수인지 확인하시오.

#### if 조건문 사용 안하는 버전(bool 사용)

In [29]:
number = int(input('정수를 입력하세요>>> '))
number % 3 == 0   # 3의 배수가 아닐 경우 false 출력

정수를 입력하세요>>> 3

True

In [31]:
number % 2 == 0  # 짝수인 3의 배수의 경우 True 출력

False

#### if 조건문 사용하는 버전

In [33]:
number = int(input('정수를 입력하시오>>> '))
if number % 3 == 0:
    print('3의 배수입니다.')
else: 
    print('3의 배수가 아닙니다.')

if number % 2 == 0:
        print('짝수입니다.')
else:
    print('홀수입니다.')

# if문 크게 두 블록 사용

정수를 입력하시오>>> 3
3의 배수입니다.
홀수입니다.

### 지수 표현
- e, E 둘다 가능하다.
- 앞부분은 float, int
- 뒷부분은 int만 온다.
    - 양수면 0 앞으로
    - 음수면 0 뒤로(소수점)

In [34]:
1.0e6  # float

1000000.0

In [35]:
# 0.000789 => 지수표현
789e-6
78.9e-5

0.000789

In [36]:
1.0e-3   # 'e를 기준으로' 양수면 앞으로, 음수면 뒤로

0.001

### 코드 짜는 룰
- 주석 다는 법
    - 설명하는 부분
    - 목적: 의도를 표현한다, 
    - '#' hash, sharp, ...
    - 시작된 부분부터 그 라인에 끝까지가 주석
    - 문자열 안에 들어있는 해시는 문자열로 인식
    - """ <주석> """
   
- 라인 유지하기
    - 들여쓰기, 공백 4개, 탭 1개
    - 한 줄에 최대 80자 넘지 않게
    - 백슬래시로 끊어준다(\)

In [38]:
a = 3 # 여기부터 라인 끝까지
b = 2 # 다시 코드 시작

In [40]:
example = 'hey ###' # 이 경우 해시(#)는 문자로 취급
example

'hey ###'

In [41]:
"""
주석1
주석2
주석3
"""

'\n주석1\n주석2\n주석3\n'

### 조건문, if
- code structure

In [43]:
if ...: # 자동으로 1탭 들여쓰기됨
    '한 탭 들여쓰기 됐음'

- 조건 1개

if <조건식>:
    
    <실행할 코드>

In [44]:
if 4 != 9:
    print('Yaay!')

Yaay!

- 조건 2개:
    
    if <조건식1>:
        <실행할 코드>
    else:
        <실행할 코드2>

In [45]:
if 4 == 9:
    print('Yaay!')
else:
    print('Hey!')

Hey!

- 조건 3개 이상:
    
    if <조건식1>:
        <실행할 코드>
    elif <조건식2>:
        <실행할 코드2>
    else:
        <실행할 코드3>

In [48]:
number = int(input('아무 정수를 입력>>> '))

if number < 5:
    print('Yaay!')
elif number > 10:
    print('Hey!')
else:
    print('Oh!')

아무 정수를 입력>>> 23
Hey!

### 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y (값, 메모리값 모두 같아야함)
- x is not y

### Quiz 1.
- 학점 부여하기
- 학점 입력 받아서
    - 90점 이상이면 A
    - 80점 이상이면 B
    - 70, C
    - 그 외, D
- 변수 설정 유의

In [53]:
score = int(input('점수을 입력하세요>>> '))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

print('점수는 {}점이고, 학점은 {}입니다.'.format(score, grade))

점수을 입력하세요>>> 95
점수는 95점이고, 학점은 A입니다.

### Quiz 2.
- 아이디와 비번 입력 받아서 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤걸로 변환하기

In [55]:
id1 = 'python'
pwd1 = '123456'

while True:
    id2 = input('아이디를 입력하세요>>> ')
    pwd2 = input('비밀번호를 입력하세요>>> ')
    if id1 == id2 and pwd1 != pwd2:
        print('비밀번호가 틀렸습니다.')
    elif id1 != id2 and pwd1 == pwd2:
        print('존재하지 않는 아이디입니다.')
    elif id1 == id2 and pwd1 == pwd2:
        print('로그인 되었습니다.')
        break

아이디를 입력하세요>>> python
비밀번호를 입력하세요>>> 12345
비밀번호가 틀렸습니다.
아이디를 입력하세요>>> pyton
비밀번호를 입력하세요>>> 123456
존재하지 않는 아이디입니다.
아이디를 입력하세요>>> python
비밀번호를 입력하세요>>> 123456
로그인 되었습니다.

### 논리연산자
- 여러 조건식을 비교할 때
- ex) 10 < x < 20
    - 파이썬에서만 가능한 표현
    - x > 10 혹은 x < 20

- and, &: 둘 다 참일 때 True
- or , |: 둘 중 하나만 참이여도 True
- not: 참 -> False, 거짓 -> True

###  Quiz 3.
- quiz 2 확장판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 그대로
    - 논리 연산자 사용하거나
    - if 구조를 크게 2번 가져갈 수 있다.

In [57]:
score = int(input('점수을 입력하세요>>> '))
absence = int(input('결석 횟수를 입력하세요>>> '))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

if (grade in 'AB') and absence >= 2:
    grade = 'F'

print('점수는 {}점이고, 학점은 {}입니다.'.format(score, grade))

점수을 입력하세요>>> 95
결석 횟수를 입력하세요>>> 3
점수는 95점이고, 학점은 F입니다.